/* UserPortfolio.css */

.portfolio-container {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.portfolio-table {
    margin-top: 20px;
    overflow-x: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.portfolio-table table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border-radius: 8px;
}

.portfolio-table th, .portfolio-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.portfolio-table th {
    background-color: #f4f6f9;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

.portfolio-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.portfolio-table tr:hover {
    background-color: #f1f1f1;
}

.portfolio-table td {
    font-size: 14px;
    color: #555;
}

.profit-positive {
    color: green;
    font-weight: bold;
}

.profit-negative {
    color: red;
    font-weight: bold;
}

.sell-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.sell-button:hover {
    background-color: #e04444;
}

.sell-button:active {
    background-color: #c33d3d;
}

.trade-more-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    margin: 10px;
    transition: background-color 0.3s;
}

.trade-more-button:hover {
    background-color: #45a049;
}

.trade-more-button:active {
    background-color: #3e8e41;
}

.flip {
    display: inline-block;
    position: relative;
    perspective: 1000px;
}

.flip .number {
    display: inline-block;
    transform-origin: bottom;
    transform-style: preserve-3d;
    animation: flipEffect 0.5s ease-in-out;
}

@keyframes flipEffect {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(-90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-content h3 {
    margin-bottom: 20px;
}

.modal-content button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content button:hover {
    background: #0056b3;
}

.modal-content input {
    padding: 8px;
    margin: 10px 0;
    width: 100px;
}
